div, h1, h2, h3, h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

dt, dd {
  display: block;
  float: left;
  margin-top: 10px;
}

dt {
  clear: both;
}

pre {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "DejaVu Sans Mono", monospace;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 0;
}

p.toc1 {
  margin: 0;
  text-indent: 0;
}

p.toc2 {
  margin: 0 0 0 1em;
  text-indent: 0;
}

p.toc3 {
  margin: 0 0 0 2em;
  text-indent: 0;
}

/* inlines */

em {
  font-style: italic;
  font-family: serif;
}

strong {
  font-weight: bold;
  font-family: serif;
}

strong em, em strong, h1 em, h2 em, h3 em, h4 em, .bolditalic {
  font-weight: bold;
  font-style: italic;
  font-family: serif;
}

code strong em, code em strong {
  font-weight: bold;
  font-style: italic;
  font-family: monospace;
}

code em, em code, pre em {
  font-family: monospace;
  font-style: italic;
}

code strong, strong code, pre strong {
  font-family: monospace;
  font-weight: bold;
}

code { 
  font-family: "DejaVu Sans Mono", monospace;
}

.underline { text-decoration: underline; }

.strikethrough { text-decoration: line-through; }

.smallcaps { font-variant: small-caps; }

@font-face {
  font-family: "DejaVu Serif";
  font-style: normal;
  font-weight: normal;
  src: url(DejaVuSerif.otf);
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-weight: normal;
  font-style: normal;
  src: url(DejaVuSansMono.otf);
}

body {
  font-family: "DejaVu Serif", serif;
  margin: 0;
  padding: 0;
  text-align: left;
}
